@import "tailwindcss";

@font-face {
  font-family: 'rocko-ultra-flf';
  src: url('/public/fonts/rocko-ultra-flf.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}